.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;font-family: 'Microsoft YaHei';
  .icon-list {
    width: 1200px;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .icon {
      transition: all 1s;
      width: 250px;
      height: 150px;
      margin: 30px;
      background-color: #FFFFFF;
      box-shadow: 0px 4px 15px 10px rgba(103, 47, 123, 0.03);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transition: all 1s;
      &:hover{
        transform: scale(1.2);
        color: #FF635A;
        ;
      }
      img {
        position: relative;
        top: -30px;
      }
    }
    $img-width:'130','100','120','120','130','130';
    $img-height:'100','100','100','100','100','100';
    @for $i from 1 through 6{
      .icon:nth-child(#{$i}){
        >img{
            width: #{nth($img-width,$i)}px;
            height: #{nth($img-height,$i)}px;
        }
        p{
            top: -20px;
            margin: 0;
            position: relative; 
        }
        p:nth-child(2){
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 30px;
        }
        p:nth-child(3){
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  .copywriting {
    width: 880px;
    position: relative;
    top: 90px;
    margin: 0 auto;
    color:#666666;
    font-size: 14px;
    line-height: 28px;
    text-indent: 28px;
  }

  .bg {
    width: 700px;
    height: 620px;
    background: url('../../../assets/ab-bg.png');
    background-size: 100% 100%;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: -1;
  }

}