.joinus {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  .inner-container {
    width: 70vw;
    position: relative;
    align-items: center;
    top: -10vh;
  }

  .copywriting {
    width: 380px;
    height: 300px;
    color: #333333;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    position: relative;
    //top: 20px;
    .p1 {
      position: relative;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      width: 420px;
      margin-top: 0px;
    }
    .p2 {
      position: relative;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      width: 400px;
      margin-top: 20px;
    }
    .p3{
      font-family: none;
      position: relative;
      font-style: normal;
      font-weight: 2900;
      font-size:24px;
      line-height: 48px;
      width: 400px;
      margin-top: 40px;
    }

    button {
      width: 120px;
      height: 45px;
      margin-top: 50px;
      bottom: 0;
      background: #f94141;
      border-radius: 6px;
      font-size: 18px;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: all .3s;
      outline: none;
      &:hover {
        background: #e93636;
        transition: .7s all;
        &::before{
        position: absolute;
        line-height: 40px;
        content: "啊欧，现在还不能报名哦~";
        font-size: 4px;
        width: 150px;
        height: 40px;
        opacity: 1;
        background: #FFF0F1;
        color: #FF9494;
        transition: .7s all;
        transform: translateX(-25px) translateY(50px);
      }
      }
      &::before{
        position: absolute;
        line-height: 40px;
        font-size: 4px;
        border-radius: 8px;
        content: "啊欧，现在还不能报名哦~";
        width: 150px;
        height: 40px;
        opacity: 0;
        background: #FFF0F1;
        color: #FF9494;
        transition: .7s all;
        transform: translateX(-25px) translateY(0px) scale(0);
      }
      
    }

    .tip{
      width: 167px;
      height: 37px;
      border-radius: 8px;
      font-size: 14px;
      line-height: 18px;
      background-color:#FFF0F1;
      font-style: normal;
      font-weight: normal;
      color: #FF9494;
    }
  }

  .girl {
    width: 370px;
    height: 312px;
    background: url('../../../assets/joinus.png');
    background-size: 100% 100%;
  }
}