// @keyframes fade-sidebar
// {
//   50% {
//     right: 0;
//     opacity: .35;
//   }
// }
.box_shadow {
  box-shadow: 0px 15px 20px rgba(103, 47, 123, 0.06);
}
.sidebar {
  position: fixed;
  width: 100vw;
  height: 69px;
  background-color: white;
  color: #333333;
  font-size: 15px;
  z-index: 999;
  .inner-sidebar {
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .home {
      position: absolute;
      cursor: pointer;
      width: 70px;
      height: 95px;
      top: 80vh;
      left: 90vw;
      background-image: url("https://s3.ax1x.com/2021/03/10/6GxpT0.png");
      background-size: cover;
      z-index: 999;
      &::before {
        content: "返回顶部";
        position: relative;
        left: 15px;
        top: 100px;
      }
    }

    .white-color {
      color: #000000;
    }
    .show {
      opacity: 1;
      transition: 0.5s all ease-in;
    }

    .hide {
      opacity: 0;
      transition: 0.5s all linear;
    }
    .bottom {
      opacity: 1;
      transition: 0.5s all linear;
      top: 40vh;
    }
    .sidebar_flex_box {
      width: 62.5vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .title_flex_box {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    .red_rock_logo {
      width: 155px;
      height: 25px;
      transform: scale(1.1);
      background: url("../../../assets/logo/redrock_logo.png");
      background-size: 100% 100%;
      cursor: pointer;
      transition: all 0.3s;
    }

    .index-active {
      background: url("../../../assets/home-active.png");
      background-size: 100% 100%;
    }

    .text-box {
      width: 60px;
      margin-left: 3vw;
      padding: 7px 0;
      border-bottom: solid rgba(255, 255, 255, 0) 0px;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 16px;
      &:hover {
        //border-bottom: solid #ee3a3a 2px;
        color: #ee3a3a;
      }
    }

    .text-box-active {
      //border-bottom: solid #ee3a3a 2px;
      color: #ee3a3a;
    }

    .link {
      width: 70px;
    }
  }
}

// .fade-sidebar {
//   animation: fade-sidebar 1s ease;
// }
