.department {
  width: 100vw;
  display: flex;
  justify-content: center;
  .carousel {
    width: 62.5vw;
    height: 79vh;
    cursor: pointer;

    div {
      width: 100%;
      outline: none;
      height: 100% !important;
    }

    .side {
      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 100%;
        height: 60vh;
      }

      .mark {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
      }

      .card {
        width: 460px;
        height: 200px !important;
        position: absolute;
        transform: translateY(60px);
        bottom: 0;
        color: #000000;

        .line_flex {
          display: flex;
          flex-direction: row;
        }

        .line {
          width: 4px;
          height: 22px !important;
          background: #fb4d4d;
          border-radius: 10px;
          margin-right: 14px;
        }

        .name {
          font-size: 26px;
          display: flex;
          align-items: center;
          margin: 0;
        }
        .introduction {
          width: 62.5vw;
          font-size: 16px;
          line-height: 26px;
          margin-top: 22px;
        }
      }
    }
  }

  .vertical-dots {
    position: absolute;
    width: 62.6vw;
    list-style: none;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1px;
    margin: 0px;
    top: 0%;
    text-align: center;
    z-index: 9;
    transition: all 1s;
    opacity: 1;
    transform: translateY(-1px);
    background-color: #ffffff;
    border-radius: 8px;
    &:hover {
      opacity: 1;
    }
  }
  .vertical-dots li {
    position: relative;
    width: 10.4vw;
    height: 62px;
    //margin-top: 35px;
    cursor: pointer;
  }
  .vertical-dots li button {
    font-size: 0;
    line-height: 0;
    //display: block;
    width: 10.4vw;
    height: 63px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    //background: url("../../../assets/button/1.png");
    background-size: 100% 100%;
    transition: all 0.3s;
  }
  .vertical-dots li button:hover,
  .vertical-dots li button:focus {
    outline: none;
  }
  .vertical-dots li button:hover:before,
  .vertical-dots li button:focus:before {
    opacity: 1;
  }
  .vertical-dots li.slick-active button:before {
    opacity: 0.75;
    color: black;
  }

  $titles: "站长团", "产品策划与运营部", "视觉设计部", "web研发部", "移动开发部", "运维安全部";

  @for $i from 1 to 7 {
    .vertical-dots li:nth-child(#{$i}) {
      //background: url("../../../assets/button/2.png");
      &::after {
        position: relative;
        content: "#{nth($titles,$i)}";
        //transform: translateY(-50px);
        top: -40px;
        //left: -20%;
      }
    }
  }

  .vertical-dots li:nth-child(1) button {
    //background: url("../../../assets/button/2.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li:nth-child(2) button {
    //background: url("../../../assets/button/2.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li:nth-child(3) button {
    //background: url("../../../assets/button/3.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li:nth-child(4) button {
    //background: url("../../../assets/button/4.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li:nth-child(5) button {
    //background: url("../../../assets/button/5.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li:nth-child(6) button {
    //background: url("../../../assets/button/6.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li.slick-active:nth-child(1) button {
    // background: url("../../../assets/button/1-active.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
  .vertical-dots li.slick-active:nth-child(2) button {
    //background: url("../../../assets/button/2-active.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
  .vertical-dots li.slick-active:nth-child(3) button {
    // background: url("../../../assets/button/3-active.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
  .vertical-dots li.slick-active:nth-child(4) button {
    // background: url("../../../assets/button/4-active.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
  .vertical-dots li.slick-active:nth-child(5) button {
    // background: url("../../../assets/button/5-active.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
  .vertical-dots li.slick-active:nth-child(6) button {
    // background: url("../../../assets/button/6-active.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
}

.lines {
  height: 22px;
  width: 2px;
  background: #fff;
  //position: fixed;
  right: 160px;
  opacity: 0.8;
}

.line1 {
  top: 50%;
  transform: translateY(-206px);
}

.line2 {
  top: 50%;
  transform: translateY(-110px);
}

.line3 {
  top: 50%;
  transform: translateY(-12px);
}

.line4 {
  top: 50%;
  transform: translateY(84px);
}

.line5 {
  top: 50%;
  transform: translateY(182px);
}
