.pc-department { 
  width: 100vw;
  display: flex;
  justify-content: center;
  .carousel {
    position: relative;
    width: 62.5vw;
    height: 70vh;
    cursor: pointer;
    transform: translateY(5vh);
    div {
      width: 100%;
      outline: none;
      height: 100% !important;
    }
    .side {
      width: 100%;
      height: 100%;
      position: relative;
      img {
        width: 62.5vw;
        height: (62.5 * 0.5625) vw;
        background-size: cover;
      }
      .mark {
        position: absolute;
        width: 100%;
        height: #{62.5 * 0.5625 * 0.4}vw !important;
        top: #{62.5 * 0.5625 * 0.6}vw;
        background-image: url("../../../assets/department/mark.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .card{
        
      }
      .card {
        width: 30vw;
        height: 200px !important;
        position: relative;
        bottom: 0;
        transform: translateY(-140px) translateX(10px);
        color: #ffffff;
        .line_flex {
          display: flex;
          flex-direction: row;
        }
        .line {
          width: 4px;
          height: 22px !important;
          background: #fb4d4d;
          border-radius: 10px;
          margin-left: 1.25vw;
          margin-right: 14px;
        }
        .name {
          font-size: 26px;
          display: flex;
          align-items: center;
          margin: 0;
        }
        .introduction {
          width: 60vw;
          margin-left: 1.25vw;
          font-size: 16px;
          line-height: 26px;
          margin-top: 9px;
          color: #ffffff;
        }
      }
    }
  }

  .vertical-dots {
    position: absolute;
    width: 62.6vw;
    list-style: none;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1px;
    margin: 0px;
    top: 0%;
    text-align: center;
    z-index: 9;
    transition: all 1s;
    opacity: 0;
    transform: translateY(-1px);
    background-color: #ffffff;
    border-radius: 8px;
    &:hover {
      opacity: 1;
    }
    &::before {
      position: absolute;
      content: "";
      width: 62.5vw;
      height: 60vh;
      background: transparent;
    }
  }
  .vertical-dots li {
    position: relative;
    width: 10.6vw;
    height: auto;
    //margin-top: 35px;
    cursor: pointer;
  }

  .vertical-dots li:nth-child(2) {
    position: relative;
    width: 12vw;
    height: auto;
    //margin-top: 35px;
    cursor: pointer;
  }

  .vertical-dots li button {
    font-size: 0;
    line-height: 0;
    //display: block;
    width: 10.6vw;
    height: 8vh;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    //background: url("../../../assets/button/1.png");
    background-size: 100% 100%;
    transition: all 0.3s;
  }
  .vertical-dots li button:hover,
  .vertical-dots li button:focus {
    outline: none;
  }
  .vertical-dots li button:hover:before,
  .vertical-dots li button:focus:before {
    opacity: 1;
  }
  .vertical-dots li.slick-active button:before {
    opacity: 0.75;
    color: black;
  }

  .vertical-dots li:nth-child(1) button {
    width: 10.1vw;
    background: url("../../../assets/department/leader.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li:nth-child(2) button {
    width: 12vw;
    background: url("../../../assets/department/product.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li:nth-child(3) button {
    width: 10.1vw;
    background: url("../../../assets/department/design.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li:nth-child(4) button {
    width: 10.1vw;
    background: url("../../../assets/department/web.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li:nth-child(5) button {
    width: 10.1vw;
    background: url("../../../assets/department/moblie.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li:nth-child(6) button {
    width: 10.1vw;
    background: url("../../../assets/department/sre.png");
    background-color: #ffffff;
    background-size: 100% 100%;
  }
  .vertical-dots li.slick-active:nth-child(1) button {
    background: url("../../../assets/department/leader_on.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
  .vertical-dots li.slick-active:nth-child(2) button {
    background: url("../../../assets/department/product_on.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
  .vertical-dots li.slick-active:nth-child(3) button {
    background: url("../../../assets/department/design_on.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
  .vertical-dots li.slick-active:nth-child(4) button {
    background: url("../../../assets/department/web_on.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
  .vertical-dots li.slick-active:nth-child(5) button {
    background: url("../../../assets/department/moblie_on.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
  .vertical-dots li.slick-active:nth-child(6) button {
    background: url("../../../assets/department/sre_on.png");
    background-color: #fb4d4d;
    background-size: 100% 100%;
    border-radius: 8px;
  }
}

.lines {
  height: 22px;
  width: 2px;
  background: #fff;
  //position: fixed;
  right: 160px;
  opacity: 0.8;
}

.line1 {
  top: 50%;
  transform: translateY(-206px);
}

.line2 {
  top: 50%;
  transform: translateY(-110px);
}

.line3 {
  top: 50%;
  transform: translateY(-12px);
}

.line4 {
  top: 50%;
  transform: translateY(84px);
}

.line5 {
  top: 50%;
  transform: translateY(182px);
}
