.destination {
  height: 142vw;
  margin-top: 16vw;
  overflow: hidden;
  margin-right: 0;
  margin-left: 4%;

  .slide-carousel {
    width: 88vw;
  }

  .card {
    width: 84vw;
    height: 100vw;
    padding: 4vw 0;

    .row {
      width: 100%;
      height: 8vw;
      display: flex;
      align-items: center;
    }

    .member {
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      color: #666666;
      font-size: 3.6vw;

      
    }

    .year {
      font-size: 3.6vw;
      color: #fa7f7f;
      width: 90%;
      margin: 0 auto;
    }

    .circle::before {
      content: '·';
      font-size: 6vw;
      color: #fa7f7f;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 2.5vw;
  }

  .slick-dots li button::before {
    color: #9b92c8;
    opacity: .8;
  }

  .slick-dots li.slick-active button:before {
    color: #f94141;
    opacity: 1;
  }

  .slick-dots li {
    height: 10px;
    width: 10px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #fa7f7f;
    transform: scale(.8)
  }

  .title-right {
    position: absolute;
    right: 4%;
  }
}