.destination {
  background: #fafafa;
  .carousel {
    width: 1000px;
    position: relative;
    top: 120px;
    cursor: pointer;

    div {
      outline: none;
    }

    .card {
      width: 400px;
      height: 450px;
      position: relative;
      left: 50px;

      .row {
        width: 100%;
        height: 37.5px;
        display: flex;
        align-items: center;
      }

      .year {
        font-family: 'hin';
        color: #f27f7f;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .line {
        position: relative;
        transform: translateX(-10px);
        height: 40px;
        width: 40px;
        background-color: #fafafa;
        background-image: url("../../../assets/Destination/Destination_icon.png");
        background-size: cover;
      }

      .member {
        justify-content: space-between;
        color: #666666;
        font-size: 15px;
      }
    }
  }

  .button {
    width: 22px;
    height: 36px;
    position: absolute;
    z-index: 999;
    top: 227px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }
  .prev {
    left: -35px;
    background: url('../../../assets/left2.png');
    background-size: 100% 100%;
  }
  .next {
    right: -30px;
    background: url('../../../assets/right2.png');
    background-size: 100% 100%;
  }
  .slick-dots {
    position: absolute;
    top:97%;
  }
  .slick-dots li{
    width: 25px;
    
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: #f94141;
    border-radius: 15px;
    transform: translateX(-50%);
    content:"";
    width: 30px;
    height: 4px; 
    transition: all .4s;
  }
  .slick-dots li button::before {
    background-color: #FFA8A8;
    border-radius: 15px;
    opacity: 1;
    transform: translateX(-50%);
    content:"";
    width: 20px;
    height: 4px;
    transition: all .4s;
  }
}