.destination {
  background: #fafafa;
  .container {
    width: 100vw;
    display: flex;
  }
  .carousel {
    width: 62.5vw;
    height: 60vh;
    position: relative;
    top: 10vh;
    box-shadow: 0px 4px 15px 10px rgba(103, 47, 123, 0.02);
    border-radius: 8px;
    cursor: pointer;

    div {
      outline: none;
    }

    .card {
      width: 26vw;
      height: 40vh;
      position: relative;
      left: 2vw;

      .row {
        width: 100%;
        height: 37.5px;
        display: flex;
        align-items: center;
      }

      .year {
        font-family: "hin";
        color: #f27f7f;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .line {
        position: relative;
        transform: translateX(-10px);
        height: 40px;
        width: 40px;
        background-color: #fafafa;
        background-image: url("../../../assets/Destination/Destination_icon.png");
        background-size: cover;
      }

      .member {
        justify-content: space-between;
        color: #666666;
        font-size: 15px;
      }
    }
  }

  .button {
    width: 22px;
    height: 36px;
    position: absolute;
    z-index: 999;
    top: 30vh;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
  .prev {
    left: -80px;
    background: url("../../../assets/left2.png");
    background-size: 100% 100%;
  }
  .next {
    right: -78px;
    background: url("../../../assets/right2.png");
    background-size: 100% 100%;
  }
  .slick-dots {
    position: absolute;
    top: 65vh;
  }
  .slick-dots li {
    width: 25px;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: #f94141;
    border-radius: 15px;
    transform: translateX(-50%);
    content: "";
    width: 30px;
    height: 4px;
    transition: all 0.4s;
  }
  .slick-dots li button::before {
    background-color: #ffa8a8;
    border-radius: 15px;
    opacity: 1;
    transform: translateX(-50%);
    content: "";
    width: 20px;
    height: 4px;
    transition: all 0.4s;
  }
}
